{% extends 'base.html' %}

{% block title %}
Добавление мероприятия
{% endblock %}

{% block body %}
<div class='container mt-5'>
    <h1>Добавить мероприятие</h1>
    <form  name="yourForm" id="theForm" method="post"><br>
    <input type="text" name="Name" id="Name" placeholder="Название мероприятия" /><br>
    <input type="text" name="Type" id="Type" placeholder="Тип мероприятия"/><br>
    <input type="date" name="Data" id="Data" placeholder="Дата мероприятия"/> -Дата проведения</input><br>
    <input type="text" name="Name_house" id="Name_house" placeholder="Имя мероприятия" value='{{ house.Name }}' />-Имя объекта</input><br>
    <p><input type="submit" value="Отправить" class="btn btn-success"   /></p>
    </form>
</div>
{% endblock %}