{% extends 'base.html' %}

{% block title %}
Владельцы
{% endblock %}

{% block body %}
<div class = 'container'>
    <H1>Все записи</H1>
    {% if owners|length > 0 %}
        {% for i in house %}
            {% if i.Name_owner == owner.Nickname %}
                <div class = "alert alert-info">
                    <h2>{{ i.Name }}</h2>
                    <h4>Тип объекта - {{ i.Type }}</h4>
                    <p>Статус: {{ i.Status }}</p>
                    <a href="/house/{{ i.id }}" class="btn btn-warning">Детали</a>
                </div>
            {% else %}
            {% endif %}
        {% endfor %}
    {% else %}
    <p>На сайте еще нет владельцев</p>
    {% endif %}
</div>
{% endblock %}